*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:  "Roboto", sans-serif;
    background-color: black;
    color: #fff;
    line-height: 1.6;
    overflow-x: hidden;
    width: 100vw;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 3rem 2rem;
    z-index: 1;
    overflow-x: hidden;
}


.container{
    width: 90%;
    margin: 0 auto;
}

.hero .container{
    width: 100%;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    z-index: 0;
}
.icon{
    border: 2px solid white;
    padding: 1rem;
    transition: color 0.3s;
}
.icon:hover{
    color: pink;
}

.user-detail {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222222;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    height: 400px;
    z-index: -1;
}

.user-detail img{
    position: relative;
    top: -100px;
    max-width: 920px;
    width: 80%;
    height: auto
}

.hero-text{
    font-size: clamp(10rem, 6vh, 12rem);
    font-weight: bold;
    position: absolute;
    bottom: -150px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    background-image: linear-gradient(to bottom, #ffffff 50%, #fbd7bb 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: all 0.5s;
}

.cta {
    display: flex;
    width: 1640px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-inline: auto;
    margin-top: 5rem;
}

.cta h2 {
    font-size: 2rem;
    font-weight: normal;
}

.cta .btn {
    color: white;
    border: 2px solid white;
    padding: 0.5rem 2rem;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 50px;
    font-size: 1.2rem;
}

.intro {
    padding: 5rem 4rem;
    margin-block: 8rem;
    background-color: #111111;
    color: #fff;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    font-family: monospace ;
}
.container .about{
    border-radius: 25px;

}

.intro h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    flex: 1;
}

.intro p {
    font-size: 1.7rem;
    line-height: 1.8;
    flex: 1;
}

.clientel {
    padding: 5rem 4rem;
    margin-block: 8rem;
    background-color: #111111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.clientel h2 {
    font-size: 3rem;
    flex: 1;
}

.clientel ul {
    flex: 1;
    list-style: none;
    padding-left: 0px;
}

.clientel ul li {
    font-size: 1.7rem;
    margin-bottom: 1rem;
    position: relative;
    text-align: center;
    width: 100%;
    padding: 1rem 2rem;
    background-color: #000000;
}

.clients {
    display: flex;
    gap: 60px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
}

.clients img {
    width: 250px;
    height: auto;
    margin: 0;
    padding: 0;
    filter: saturate(0%) contrast(100%) brightness(60%) grayscale(100%) invert(100%);
    -webkit-filter: saturate(0%) contrast(100%) brightness(60%) grayscale(100%) invert(100%);
    transition: filter 0.3s;
}

.showcase-title {
    font-size: 9rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #fbd7bb;
}

.showcase-item {
    width: 1200px;
    max-width: 90%;
    margin: 1rem auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    overflow: hidden;
}

.showcase-item-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: #222222;
    padding: 2rem;
}

.showcase-item-title h2 {
    font-size: 2.5rem;
    font-weight: normal;
}

.showcase-item-title span {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid white;
    border-radius: 8px;
}

.showcase-item-title span i {
    color: white;
    rotate: 45deg;
}

.showcase-item img {
    width: 100%;
    height: auto;
    display: block;
}

.footer-content {
    position: relative;
    text-align: center;
    background-color: #111111;
    margin-block: 5rem;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.footer-text {
    position: relative;
    bottom: -250px;
    padding-bottom: 7rem;
}

.footer-text h2{
    font-size: 12rem;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    background-image: linear-gradient(to bottom, #ffffff 50%, #fbd7bb 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    line-height: 1;
}

.footer-text p {
    color: white;
    border: 2px solid white;
    padding: 0.5rem 2rem;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 50px;
    font-size: 1.2rem;
    width: fit-content;
    margin-inline: auto;
}
@media (max-width:765px){
    .cta{
        flex-direction: column;
        align-items: start;
    }
    .hero-text{
        font-size: 4rem;
        bottom: -10px;
    }

    .footer-text h2, .showcase-title {
        font-size: 4rem;
    }
    .footer-text{
        bottom: -50px;
    }
    .intro{
        flex-direction: column;
    }
    .clientel{
        flex-direction: column;
    }
    section{
        overflow-x: hidden;
    }
    .header .fixed{
        position: fixed;
        top: 20px;
        right: 20px;
    }
    
}
    
